.box {
    padding: 13px;
    margin: 0 0 15px;
    font-size: 13px;
    line-height: 1.72222;
    color: inherit;
    background-color: #ffffff;
    border: 2px solid #e7e9ec;
    border-radius: 6px;
}

h1 {
    margin: 5px;
    font-size: 32px;
    font-weight: 700;
    display: inline;
}

.glyphicon {
    font-size: 30px;
}

.bottom-right {
    position: fixed;
    bottom: 0;
    right: 10px;
}

.top-left {
    position: fixed;
    top: 10px;
    left: 10px;
}

body {
    background-color: #ecf0f1;
}

p {
    font-size: 40px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.1;
}

.fui-arrow-right {
    font-size: 150px;
    float: right;
    color: #27ae60;
}

.step {
    width: 800px;
}

.hint {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;
    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    z-index: 100;
    opacity: 0;
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
    transform: translateY(400px);
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition: opacity 1s, -moz-transform 0.5s 1s;
    -ms-transition: opacity 1s, -ms-transform 0.5s 1s;
    -o-transition: opacity 1s, -o-transform 0.5s 1s;
    transition: opacity 1s, transform 0.5s 1s;
}

.impress-enabled .hint {
    display: block;
}

.impress-on-step-1 .hint {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);

    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition: opacity 1s 5s, -moz-transform 0.5s 4.5s;
    -ms-transition: opacity 1s 5s, -ms-transform 0.5s 4.5s;
    -o-transition: opacity 1s 5s, -o-transform 0.5s 4.5s;
    transition: opacity 1s 5s, transform 0.5s 4.5s;
}